
$nav-bg: #F4F6F8;
$examples-bg: #2F323A;
$code-bg: #26282E;
$code-annotation-bg: #1c1c1c;
$nav-subitem-bg: darken(#F4F6F8, 1%);
$nav-active-bg: #8CC63F;
$nav-active-parent-bg: #8CC63F;
$lang-select-border: #000;
$lang-select-bg: #26282E;
$lang-select-active-bg: $examples-bg;
$lang-select-pressed-bg: #111;
$main-bg: white;
$aside-notice-bg: #8fbcd4;
$aside-warning-bg: #c97a7e;
$aside-success-bg: #6ac174;
$search-notice-bg: #c97a7e;

$main-text: #333; // main content text color
$nav-text: #333;
$nav-active-text: #333;
$nav-active-parent-text: #333;
$lang-select-text: #fff; // color of unselected language tab text
$lang-select-active-text: #fff; // color of selected language tab text
$lang-select-pressed-text: #fff; // color of language tab text when mouse is pressed

$nav-active-shadow: darken(#F4F6F8, 5%);
$nav-footer-border-color: darken(#F4F6F8, 6%);
$nav-embossed-border-top: darken(#F4F6F8, 4%);
$nav-embossed-border-bottom: darken(#F4F6F8, 4%);
$main-embossed-text-shadow: 0px 1px 0px #fff;
$search-box-border-color: #666;

